body{
    background: #f4f7fb;
    font-family: Arial;
}

.donation-box{
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #aaa;
}

.donation-box h2{
    text-align: center;
}

label{
    font-size: 14px;
}

input, select{
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.btn{
    width: 100%;
    padding: 10px;
    background: #1656a2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 12px;
}

.btn:hover{
    background: #083465;
}

.btn2{
    width: 100%;
    padding: 8px;
    background: white;
    border: 2px solid #1656a2;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 8px;
    color: #1656a2;
}

.btn2:hover{
    background: #1656a2;
    color: white;
}
